/*
============
GENERALES
============
*/
/*Iniciales*/
/*#fullpage #fila-1 h1,

#fullpage p,
#fullpage .carrusel,
#fullpage .bajar,
#fullpage .txt-puntos i,
#fullpage .txt-cuadrados {
    opacity: 0;
}*/
#fullpage {
    margin-top: 2.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

#fullpage:before {
    content: '';
    width: 100%;
    height: 2rem;
    background: white;
    position: absolute ;
    top: 0;
    z-index: 2;
}

#fullpage .s-semana {
    background: #ededed;
}

#fullpage .s-semana:before, #fullpage .s-semana:after {
    content: '';
    width: 2rem;
    height: 100%;
    background: white;
    position: absolute ;
    top: 0;
    z-index: 2;
}

#fullpage .s-semana:after {
    right: 0;
}

#fullpage .s-semana img {
    max-width: 100%;
}

#fp-nav.right {
    right: .2rem;
}

#fp-nav ul li {
    margin: 12px 7px;
}

#fp-nav ul li a span {
    border-radius: 16px !important;
    background: #6b6a6a;
}

#fp-nav ul li .fp-tooltip {
    font-family: 'Roboto', sans-serif;
    background: #2da0e2;
    padding: 0.1em .5rem 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.ilustracion {
    position: relative;
}

.ilustracion img {
    position: absolute;
    top: 0;
}

.conector {
    position: absolute;
    z-index: 5;
}

.conector .linea {
    position: absolute;
}

.conector .fin {
    content: '';
    width: 20px;
    height: 20px;
    background: black;
    bottom: -10px;
    display: block;
    position: absolute;
    border-radius: 100%;
    opacity: 0;
}

.animacion {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: left top;
    background-size: 200% 100%;
    animation: stopMotion 1s steps(2) infinite;
}

@keyframes stopMotion {
    100% {
        background-position: -200% top;
    }
}

@keyframes stopMotion3 {
    100% {
        background-position: -300% top;
    }
}

#fullpage h1, #fullpage h1 small {
    font-weight: 900;
}

#fullpage h1 {
    margin-bottom: 2rem;
    line-height: 1;
    font-size: 4.5rem ;
}

#fullpage h1 small {
    background: #2da0e2;
    color: white;
    padding: 0 .5rem;
    font-size: 3.2rem;
}

.carrusel {
    border: 1px solid #b3b3b3;
    padding: 1rem
}

.slick-dots li button:before {
    color: #2da0e2;
    transition: all linear .25s;
}

.slick-dots li.slick-active button:before {
    color: #2da0e2;
    font-size: 12px;
}

#fullpage h2 {
    font-size: 3.2rem ;
    font-weight: 900
}

#fullpage .num {
    font-size: 4.5rem;
    margin-right: 0.1em;
    font-weight: 900;
}

#fullpage .large {
    font-size: 1.6rem;
}

.resaltado {
    background: #00dad9;
    color: white;
    padding: 0 .5rem;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.uni {
    font-size: 2.8rem;
    font-weight: 900;
}

#fullpage .container {
    position: relative;
    z-index: 2;
}

.lugar {
    position: absolute;
    font-weight: 500;
    color: white;
    line-height: 1.8;
}

.lugar .resal {
    background: #00dad9;
    padding: 0.2em 0.5em;
}

/*
============
Textura de puntos
============
*/
.txt-puntos, .txt-cuadros {
    position: absolute;
}

.txt-puntos i {
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background: #ffffff;
}

.txt-cuadros {
    display: block;
    width: 20px;
    height: 20px;
    background: #ffffff;
    z-index: 0;
}

.graf {
    position: relative;
    text-align: center;
}

.graf .num {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -0.75em;
}

/*
============
ANIMACIONES
============
*/
@keyframes flota {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0)
    }
}

/*
============
Fila 1
============
*/
#fila-1 .bajar {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    background: #2da0e2;
    display: block;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.57);
    animation: flota 1.2s linear infinite alternate;
}

#fila-1 .bajar:hover {
    animation-play-state: paused;
    background: #6ac6fb;
}

#fila-1 .bajar img {
    width: 14px;
    position: relative;
    top: 20%
}

#fila-1 .txt-puntos {
    bottom: 20%;
    left: 20%;
}

#fila-1 .tc-1 {
    top: 10%;
    right: 10%;
}

#fila-1 .tc-2 {
    bottom: 10%;
    right: 20%;
}

/*
============
Fila 2
============
*/
#fila-2 .col-md-12 {
    text-align: center;
}

#fila-2 .ilustracion {
    padding-top: 95.47735%;
    margin-top: 2rem;
}

#fila-2 .conector {
    width: 100%;
    max-width: 280px;
    top: 50%;
    right:0;
    transform: translateX(100%);
    height: 45vh;
}

#fila-2 .conector .linea {
    width: 100%;
    top: 0;
    left: 0;
    border-top: 1px dashed black;
    border-right: 1px dashed black;
    height: 100%;
}

#fila-2 .conector .fin {
    right: -10px;
}

#fila-2 .txt-puntos {
    top: 40%;
    left: 65%;
}

#fila-2 .tc-1 {
    top: 40%;
    left: 10%;
}

#fila-2 .tc-2 {
    top: 40%;
    right: 10%;
}

#fila-2 .tc-3 {
    bottom: 10%;
    right: 50%;
}

#fila-2 .animacion {
    background-image: url('../imgs/ilustracion-1/animacion/sprite.png')
}

#fila-2 .cont-ilustracion {
    width: 90%;
    margin-left: 10%;
}

#fila-2 .lugar {
    bottom: 12%;
    left: 0;
}

/*
============
Fila 3
============
*/
#fila-3 #il-2 {
    padding-top: 95.442359%;
}

#fila-3 #il-3 {
    padding-top: 95.442359%;
    margin-top: -3.55%;
    margin-left: -.5%;
    position: relative;
}

#fila-3 #il-2 .animacion {
    background-image: url('../imgs/ilustracion-2/animacion/sprite.png')
}

#fila-3 #il-3 .animacion {
    background-image: url('../imgs/ilustracion-3/animacion/sprite.png')
}

#fila-3 .ci-2-3 {
    margin-top: 2rem;
}

#fila-3 .cont-ilustracion {
    width: 50%;
    max-width: 420px;
    float: left;
}

#fila-3 .col-md-6 {
    text-align: center;
}

#fila-3 h2 {
    margin-bottom: -0.05em;
    line-height: 1;
}

#fila-3 .uni {
    margin-bottom: 0;
    line-height: 1;
}

#fila-3 .conector-1 {
    width: 40%;
    top:50%;
    left: 0;
    bottom: -5%;
    transform: translateX(-65%);
}

#fila-3 .conector-1 .linea {
    width: 100%;
    top: 0;
    right: 0;
    border-top: 1px dashed black;
    border-left: 1px dashed black;
}

#fila-3 .conector-1 .fin {
    left: -10px;
}

#fila-3 .conector-2 {
    width: 40%;
    top: 50%;
    right: 0;
    transform: translateX(100%);
    height: 55vh;
}

#fila-3 .conector-2 .linea {
    width: 100%;
    top: 0;
    left: 0;
    border-top: 1px dashed black;
    border-right: 1px dashed black;
}

#fila-3 .conector-2 .fin {
    right: -10px;
}

#fila-3 .txt-puntos {
    top: 20%;
    left: 0;
}

#fila-3 .tc-1 {
    top: 35%;
    left: 10%;
}

#fila-3 .tc-2 {
    top: 60%;
    right: 10%;
}

#fila-3 .tc-3 {
    bottom: 10%;
    left: 40%;
}

#fila-3 .lugar.lugar-1 {
    bottom: 2%;
    left: 0;
}
#fila-3 .lugar.lugar-2 {
    bottom: -5%;
    bottom: calc(2% - 1.9em);
    left: 0;
}
/*
============
Fila 4
============
*/
#fila-4 .col-md-6 {
    
}
#fila-4 .num-wrapper {
    position: relative;
}

#fila-4 .num-wrapper h2 {
    display: inline-block;
    line-height: 1;
    position: relative;
    top: 0;
    left: 0;
    min-width: 1em;
    position: absolute;
}

#fila-4 .num-wrapper .uni {
    display: inline-block;
    line-height: 1;
    margin-left: 3.5rem;
}

#fila-4 .large {
    margin-left: 3.5rem;
}

#fila-4 .ilustracion {
    padding-top: 103.03%;
    margin-top: 2rem;
}

#fila-4 .animacion {
    background-image: url('../imgs/ilustracion-10/animacion/sprite.png')
}

#fila-4 .conector {
    width: 40%;
    top: 68.4%;
    left: 0;
    height: 52vh;
    transform: translateX(-100%);
}

#fila-4 .conector .linea {
    width: 100%;
    top: 0;
    right: 0;
    border-top: 1px dashed black;
    border-left: 1px dashed black;
}

#fila-4 .conector .fin {
    left: -10px;
}

#fila-4 .txt-puntos {
    bottom: 10%;
    right: 2.2rem;
}

#fila-4 .tc-1 {
    bottom: 10%;
    left: 10%;
}

#fila-4 .tc-2 {
    top: 10%;
    left: 60%;
}

#fila-4 .tc-3 {
    bottom: 10%;
    left: 60%;
}

#fila-4 .lugar {
    bottom: 10%;
    right: 0;
}

/*
============
Fila 5
============
*/
#fila-5 #il-4 {
    padding-top: 95.51167%;
}

#fila-5 #il-5 {
    padding-top: 95.51167%;
    margin-top: -3.9%;
    left: -2%;
    position: relative;
}

#fila-5 #il-6 {
    padding-top: 92.486444%;
}

#fila-5 .ci-4, #fila-5 .ci-5 {
    width: 50%;
    max-width: 350px;
    float: right;
}

#fila-5 .ci-6 {
    position: absolute;
    right: 24.5%;
    left: initial;
    top: 35%;
    width: 54%;
    max-width: 409px;
}

#fila-5 #il-4 .animacion {
    background-image: url('../imgs/ilustracion-4/animacion/sprite.png')
}

#fila-5 #il-5 .animacion {
    background-image: url('../imgs/ilustracion-5/animacion/sprite.png')
}

#fila-5 #il-6 .animacion {
    background-image: url('../imgs/ilustracion-6/animacion/sprite.png')
}

#fila-5 .right-5 {
    text-align: right;
    max-width: 350px;
    float: right;
    line-height: 1.1;
    margin-top: -2rem;
}

#fila-5 .right-5 .num, #fila-6 .left-6 .num {
    line-height: 0.8;
    font-size: 3.3rem;
}

#fila-5 .right-5 .uni, #fila-6 .left-6 .uni {
    font-size: 2rem;
}

#fila-5 .right-5 .uni:after, #fila-6 .left-6 .uni:after {
    content: '2';
    font-size: 0.45em;
    top: -1em;
    position: relative;
}

#fila-5 .right-5 .small, #fila-6 .left-6 .small {
    line-height: 1.3;
    font-weight: 500;
    font-size: 100%;
}

#fila-5 h2 {
    margin-top: 2rem;
}

#fila-5 .graf {
    margin-top: 4rem;
}

#fila-5 .ci-4-5-6 {
    margin-top: -4rem;
    position: relative;
}

#fila-5 .conector {
    width: 25%;
    top: 67%;
    left: 0;
    height: 50vh;
    transform: translateX(-100%);
}

#fila-5 .conector .linea {
    width: 100%;
    top: 0;
    right: 0;
    border-top: 1px dashed black;
    border-left: 1px dashed black;
}

#fila-5 .conector .fin {
    left: -10px;
}

#fila-5 .txt-puntos.tx-1 {
    top: 10%;
    right: 2.2rem;
}

#fila-5 .txt-puntos.tx-2 {
    top: 10%;
    right: 30%;
}

#fila-5 .tc-1 {
    top: 5%;
    left: 50%;
}

#fila-5 .diagonal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#fila-5 .diagonal::before {
    content: '';
    width: 400%;
    position: absolute;
    background: #ededed;
    left: -50%;
    top: -10%;
    bottom: 40%;
    transform: rotate(-10deg);
    transform-origin: 10% 50%;
}

#fila-5 .lugar-1 {
    top: 75%;
    left: 0;
}
#fila-5 .lugar-2 {
    top: 7%;
    right: 0;
}
#fila-5 .lugar-3 {
    bottom: 8%;
    left: 0;
}
/*
============
Fila 6
============
*/
#fila-6 #il-7 {
    padding-top: 95.51167%;
}

#fila-6 #il-8 {
    padding-top: 95.51167%;
    margin-top: -3.5%;
    left: -0.3%;
    position: relative;
}

#fila-6 #il-9 {
    padding-top: 68.49529%;
}

#fila-6 .ci-7, #fila-6 .ci-8 {
    width: 50%;
    max-width: 380px;
    float: left;
}

#fila-6 .ci-7-8-9 {
    position: relative;
}

#fila-6 .ci-9 {
    position: absolute;
    left: 13%;
    top: 61%;
    width: 64%;
    max-width: 450px;
}

#fila-6 #il-7 .animacion {
    background-image: url('../imgs/ilustracion-7/animacion/sprite.png')
}

#fila-6 #il-8 .animacion {
    background-image: url('../imgs/ilustracion-8/animacion/sprite.png')
}

#fila-6 #il-9 .animacion {
    background-image: url('../imgs/ilustracion-9/animacion/sprite.png')
}

#fila-6 .left-6 {
    line-height: 1.1;
    margin-top: 2rem;
}

#fila-6 .graf {
    margin-top: -6rem;
}

#fila-6 .conector {
    width: 58%;
    top: 70%;
    right: -30%;
    height: 42vh;
    
}

#fila-6 .conector .linea {
    width: 100%;
    top: 0;
    left: 0;
    border-top: 1px dashed black;
    border-right: 1px dashed black;
}

#fila-6 .conector .fin {
    right: -10px;
}

#fila-6 .txt-puntos.tx-1 {
    bottom: 10%;
    right: 2.2rem;
}

#fila-6 .txt-puntos.tx-2 {
    bottom: 10%;
    left: 2.2rem;
}

#fila-6 .tc-1 {
    top: 10%;
    left: 20%;
}

#fila-6 .tc-2 {
    bottom: 10%;
    left: 20%;
}

#fila-6 .tc-3 {
    bottom: 10%;
    left: 50%;
}

#fila-6 .lugar {
    bottom: 0;
    left: 0;
}

/*
============
Fila 7
============
*/
#fila-7 .ci-11-12-13-14 {
    margin-top: -3.5rem;
    position: relative;
}

#fila-7 #il-11, #fila-7 #il-13 {
    padding-top: 95.5237%;
}

#fila-7 #il-13 {
    margin-top: -3.5%;
    left: -0.3%;
    position: relative;
}

#fila-7 #il-12 {
    padding-top: 61.610633%;
}

#fila-7 #il-14 {
    padding-top: 89.156626%;
}

#fila-7 .ci-11, #fila-7 .ci-13 {
    width: 50%;
    max-width: 340px;
    float: right;
}

#fila-7 .ci-12 {
    position: absolute;
    right: 21.8%;
    top: 68%;
    width: 50%;
    max-width: 406px;
}

#fila-7 .ci-14 {
    position: absolute;
    right: 1%;
    top: 58%;
    width: 50%;
    max-width: 408px;
    transform: rotate(-2.5deg)
}

#fila-7 #il-11 .animacion {
    background-image: url('../imgs/ilustracion-11/animacion/sprite.png')
}

#fila-7 #il-12 .animacion {
    background-image: url('../imgs/ilustracion-12/animacion/sprite.png')
}

#fila-7 #il-13 .animacion {
    background-image: url('../imgs/ilustracion-13/animacion/sprite.png');
    background-size: 300% 100%;
    animation: stopMotion3 1s steps(3) infinite;
}

#fila-7 #il-14 .animacion {
    background-image: url('../imgs/ilustracion-14/animacion/sprite.png')
}
#fila-7 .large {
    text-align: center;
}
#fila-7 .small {
    line-height: 1.3;
    font-weight: 500;
    font-size: 100%;
    text-align: center;
}

#fila-7 .conector {
    width: 30%;
    top: 58%;
    left: 0;
    transform: translateX(-100%);
    height: 48vh;
}

#fila-7 .conector .linea {
    width: 100%;
    top: 0;
    right: 0;
    border-top: 1px dashed black;
    border-left: 1px dashed black;
}

#fila-7 .conector .fin {
    left: -10px;
}

#fila-7 .txt-puntos.tx-1 {
    top: 5%;
    left: 2.2rem;
}

#fila-7 .txt-puntos.tx-2 {
    top: 5%;
    right: 2.2rem;
}

#fila-7 .tc-1 {
    top: 5%;
    right: 20%;
}

#fila-7 .tc-2 {
    bottom: 8%;
    left: 10%;
}

#fila-7 .tc-3 {
    bottom: 8%;
    right: 10%;
}

#fila-7 .lugar-1 {
    top: 13%;
    left: 0;
}
#fila-7 .lugar-2 {
    top: 13%;
    right: 0;
}
#fila-7 .lugar-3 {
    bottom: -25%;
    left: 43%;
    z-index: 5;
}
/*
============
Fila 8
============
*/
#fila-8 .col-blanca {
    border: 1px dashed black;
    text-align: center
}

#fila-8 .col-cyan {
    color: white;
}

#fila-8 .col-md-6 {
    padding: 6rem;
}

#fila-8 .col-md-6 .recuadro {
    position: relative;
    z-index: 2;
}

#fila-8 .col-md-6::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    display: block;
}

#fila-8 .col-blanca:before {
    background: #ffffff;
}

#fila-8 .col-cyan:before {
    background: #00DAD9;
}

#fila-8 .col-cyan .num {
    line-height: 1;
    margin-top: -.2em;
}

#fila-8 h3 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#fila-8 h3 strong {
    font-weight: 900;
}

#fila-8 .diagonal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#fila-8 .diagonal::before {
    content: '';
    width: 400%;
    position: absolute;
    background: #ededed;
    left: -50%;
    bottom: -10%;
    top: 40%;
    transform: rotate(10deg);
    transform-origin: 10% 50%;
}

#fila-8 .conector {
    width: 1px;
    top: 90vh;
    left: 50vw;
    height: 13vh;
}

#fila-8 .conector .linea {
    width: 100%;
    top: 0;
    right: 0;
    border-top: 1px dashed black;
    border-left: 1px dashed black;
}

#fila-8 .conector .fin {
    right: -10px;
}

#fila-8 .txt-puntos.tx-1 {
    top: 10%;
    left: 2.2rem;
}

#fila-8 .txt-puntos.tx-2 {
    bottom: 10%;
    right: 2.2rem;
}

#fila-8 .tc-1 {
    top: 10%;
    right: 25%;
}

#fila-8 .tc-2 {
    bottom: 10%;
    left: 10%;
}

#fila-8 .tc-3 {
    bottom: 10%;
    right: 25%;
}

/*
============
Fila 9
============
*/
#fila-9 {
    text-align: center;
}

#fila-9 h2 {
    margin-top: 1rem;
}

#fila-9 #mapa-cont {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 2rem auto 0;
}

#fila-9 #mapa-cont #mapa {
    position: relative;
}

#fila-9 .cont-hotspots {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes latir {
    from {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5);
    }

    to {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
}

#mapa .hotspot {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: white url('../imgs/mas.svg') center no-repeat;
    background-size: 60%;
    border-radius: 100%;
    animation: latir 2s ease infinite alternate;
    transition: all 1s;
}

#mapa .hotspot:hover {
    animation-play-state: paused;
}

#mapa .hotspot[aria-describedby *= 'popover'] {
    transform: rotate(225deg);
}

.popover {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popover-body {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    min-width: 240px;
}

.popover-body h4 {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0.75rem 0;
}

.popover-body .hnum {
    display: inline-block;
    width: 48%;
    font-weight: 900;
    float: left;
    font-size: 1.2rem;
    border-right: 1px solid black;
    margin-right: 4%;
}

.popover-body .hinfo {
    font-weight: 300;
    font-size: .75rem;
    width: 48%;
    float: left;
    line-height: 1.1;
    padding-top: .2em;
}

.popover-body .hnum {
    margin-bottom: 0.75rem;
}

.hot-1 {
    top: 28%;
    left: 22%;
}

.hot-2 {
    top: 39%;
    left: 11%;
}

.hot-3 {
    top: 60%;
    left: 68%;
}

.hot-4 {
    top: 35%;
    left: 72%;
}

.hot-5 {
    top: 27%;
    left: 57%;
}

.hot-6 {
    top: 67%;
    left: 52%;
}

.hot-7 {
    top: 19%;
    left: 40%;
}

#fila-9 .txt-puntos.tx-1 {
    top: 10%;
    left: 2.2rem;
}

#fila-9 .txt-puntos.tx-2 {
    bottom: 10%;
    right: 2.2rem;
}

#fila-9 .txt-puntos.tx-3 {
    bottom: 10%;
    left: 2.2rem;
}

#fila-9 .txt-puntos.tx-4 {
    bottom: 50%;
    right: 15%;
}

#fila-9 .tc-1 {
    top: 10%;
    right: 15%;
}

#fila-9 .tc-2 {
    bottom: 50%;
    left: 5%;
}

#fila-9 .tc-3 {
    bottom: 10%;
    right: 15%;
}

/*
============
RESPONSIVE
============
*/
@media screen and (max-width: 1260px) {
    #fullpage {
        margin-top: 2.2rem;
    }

    #fila-2 .cont-ilustracion {
        width: 80%;
        margin-left: 20%;
    }

    #fila-3 .ci-2-3 {
        margin-top: 1rem;
    }

    #fila-3 .cont-ilustracion {
        max-width: 390px;
    }

    #fila-4 .cont-ilustracion {
        max-width: 450px;
    }

    #fila-5 .graf {
        margin-top: 2rem;
    }

    #fila-9 #mapa-cont {
        margin: 1rem auto 0;
    }
}

@media screen and (max-width: 1200px) {
    /*Ajuste de textos*/ #fullpage h1 {
        font-size: 4rem;
    }

    #fullpage h1 small {
        font-size: 2.8rem;
    }

    #fullpage h2 {
        font-size: 2.8rem;
    }

    #fullpage .num {
        font-size: 3rem;
    }

    .uni {
        font-size: 1.8rem;
    }

    #fullpage .large {
        font-size: 1.1rem;
    }

    #fila-1 .txt-puntos {
        bottom: 12%;
        left: 20%;
    }

    /*Ajuste elementos*/
    #fullpage:before {
        height: 1rem;
    }

    #fullpage .s-semana:before, #fullpage .s-semana:after {
        width: 1rem;
    }

    #fila-1 .bajar {
        width: 40px;
        height: 40px;
        bottom: 3rem;
        margin-left: -20px;
    }

    #fila-2 .cont-ilustracion {
        margin-top: -1.5rem;
    }

    #fila-3 .cont-ilustracion {
        max-width: 360px;
    }

    #fila-4 .num-wrapper .uni {
        margin-left: 2.3rem;
        margin-top: .7rem;
    }

    #fila-4 .large {
        margin-left: 2.3rem;
        max-width: 300px;
    }

    #fila-4 .cont-ilustracion {
        max-width: 400px;
        position: relative;
        right: 10%;
    }

    #fila-4 br {
        display: none;
    }

    #fila-5 .ci-4-5-6 {
        width: 80%;
        margin-left: 20%;
    }

    #fila-5 .ci-6 {
        right: 29%;
    }
    #fila-6 .graf {
        margin-top: -2rem;
    }
    #fila-6 .ci-7-8-9 {
        width: 90%;
        position: relative;
    }

    #fila-7 .ci-11-12-13-14 {
        margin-top: -3.5rem;
        width: 85%;
        margin-left: 15%;
    }

    #fila-7 .ci-11, #fila-7 .ci-13 {
        width: 50%;
        max-width: initial;
    }

    /*#fila-7 .ci-12 {
        right: 23.3%;
        top: 38.5%;
        width: 49%;
        max-width: initial;
    }

    #fila-7 .ci-14 {
        position: absolute;
        right: 2.8%;
        top: 30.9%;
        width: 49%;
        max-width: initial;
    }*/
    #fila-7 .ci-12 {
        right: 27.5%;
        top: 70%;
        width: 57%;
        max-width: initial;
    }

    #fila-7 .ci-14 {
        right: -1%;
        top: 58%;
        width: 55%;
        max-width: initial;
    }

    

    #fila-9 #mapa-cont {
        max-width: 600px;
    }
}

@media screen and (max-width: 1024px) {
    /*Ajuste plantilla Semana*/ .especial-site-navbar a img.logo-img {
        max-height: 80%;
    }

    #fullpage {
        margin-top: 0;
    }
}


@media screen and (max-width: 992px) {
    .txt-cuadros {
        width: 15px;
        height: 15px;
    }

    #fullpage {
        margin-top: 0;
    }

    #fullpage h1 {
        font-size: 3rem;
        line-height: .9;
    }

    #fullpage h1 small {
        font-size: 2rem;
        line-height: .6;
    }

    #fullpage #fila-1 p {
        font-size: .9rem;
    }

    #fullpage #fila-1 .container {
        margin-top: 3rem;
    }

    #fullpage #fila-1 .txt-puntos {
        bottom: -8%;
        left: 5%;
    }

    #fullpage h2 {
        font-size: 2.8rem;
    }

    #fullpage .num {
        font-size: 3rem;
    }

    .uni {
        font-size: 1.8rem;
    }

    #fullpage .large {
        font-size: 1.1rem;
    }

    #fila-1 .txt-puntos {
        bottom: 12%;
        left: 20%;
    }

    #fila-1 .tc-2 {
        bottom: 5%;
        right: 20%;
    }

    #fila-1 .bajar {
        width: 26px;
        height: 26px;
        bottom: 1rem;
        margin-left: -13px;
    }

    #fila-1 .bajar img {
        width: 10px;
        top: 8%;
    }

    #fila-2 .conector {
        width: 20%;
        top: 60vh;
        left: 55vw;
        height: 38vh;
    }

    #fullpage #fila-2 .container {
        margin-top: 3rem;
    }

    #fila-2 .conector {
        width: 20%;
        top: 70vh;
        left: 55vw;
        height: 38vh;
    }

    #fila-2 .txt-puntos {
        top: 50%;
        left: 65%;
    }

    #fullpage #fila-3 .container {
        margin-top: 4rem;
    }

    #fila-3 .ci-2-3 {
        max-width: 560px;
        margin: 0 auto;
    }

    #fila-3 .conector-1 {
        width: 10vw;
        top: 25vh;
        height: 20vh;
    }

    #fila-3 .tc-1 {
        top: 50%;
        left: 5%;
    }

    #fila-3 .tc-3 {
        bottom: 5%;
        left: 50%;
    }

    #fila-3 .tc-2 {
        top: initial;
        right: 5%;
        bottom: 5%;
    }

    #fila-3 .conector-2 {
        width: 1px;
        left: initial;
        right: 10%
    }

    #fullpage #fila-4 .container {
        margin-top: 4rem;
    }

    #fila-4 .txt-puntos {
        bottom: 10%;
        right: initial;
        left: -10%;
    }

    #fullpage #fila-4 .num-wrapper {
        margin-top: 3rem
    }

    #fila-4 .tc-1 {
        bottom: 40%;
        left: 2rem;
    }

    #fila-4 .tc-3 {
        bottom: 5%;
        left: 60%;
    }

    #fila-4 .tc-2 {
        top: initial;
        left: 90%;
        bottom: 5%;
    }

    #fila-4 .conector {
        top: 62vh;
        height: 55vh;
    }

    #fullpage #fila-5 .container {
        margin-top: 4rem;
    }

    #fullpage #fila-5 h2 {
        font-size: 2rem;
    }

    #fullpage #fila-5 .num {
        font-size: 2.5rem;
    }

    #fila-5 .right-5 p {
        margin-bottom: .3rem;
    }

    #fila-5 .right-5 {
        margin-top: 1rem;
    }

    #fila-5 .col-md-3 .large {
        width: 120%;
    }

    #fullpage #fila-6 .container {
        margin-top: 4rem;
    }

    #fila-6 .graf {
        margin-top: 0;
    }

    #fila-6 .graf img {
        width: 75%;
    }

    #fila-6 .left-6 .num {
        line-height: 0.3;
        font-size: 2.2rem;
    }

    #fila-6 .left-6 p {
        margin-bottom: .2rem;
    }

    #fila-6 .left-6 {
        line-height: 1.1;
        margin-top: 1rem;
    }

    #fila-6 .ci-9 {
        left: 11.2%;
        top: 62.5%;
    }

    #fila-6 .txt-puntos.tx-1 {
        display: none;
    }

    #fila-6 .conector {
        width: 10vw;
        top: 75vh;
        left: 45vw;
        height: 38vh;
    }

    #fila-6 .tc-1 {
        display: none;
    }

    #fila-7 .graf img {
        width: 75%;
    }

    #fila-7 .ci-11-12-13-14 {
        margin-top: -1rem;
        width: 95%;
        margin-left: 5%;
    }

    #fila-7 .txt-puntos.tx-1 {
        top: 95%;
        left: 2.2rem;
    }

    #fullpage #fila-7 .container {
        margin-top: 4rem;
    }

    #fila-7 .txt-puntos.tx-2 {
        top: 5%;
        right: 2.2rem;
    }

    #fila-7 .tc-2 {
        bottom: initial;
        top: 15%;
        left: 2rem;
    }

    #fila-7 .conector {
        width: 10vw;
        right: 53vw;
    }

    #fullpage #fila-8 .container {
        margin-top: 4rem;
    }

    #fila-8 .col-md-6 {
        padding: 2.5rem;
    }

    #fila-8 h3 {
        font-weight: 300;
        font-size: 2.2rem;
        margin-bottom: 1.2rem;
    }

    #fila-8 .large {
        font-size: 1.05rem;
    }

    #fila-8 .conector {
        top: 92vh;
    }

    #fullpage #fila-9 .container {
        margin-top: 4rem;
    }

    #fullpage #fila-9 h2 {
        font-size: 2rem;
    }

    #fila-9 #mapa-cont {
        max-width: 450px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    #fila-6 .col-md-9 {
        -ms-flex: 0 0 66%;
        flex: 0 0 66%;
        max-width: 66%;
    }

    #fila-6 .col-md-3 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }

    #fila-7 .col-md-9 {
        -ms-flex: 0 0 66%;
        flex: 0 0 66%;
        max-width: 66%;
    }

    #fila-7 .col-md-3 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@media screen and (max-width: 768px) {
    #fullpage #fila-1 h1 {
        margin-top: 3rem;
    }

    #fila-1 .bajar {
        left: initial;
        right: 2rem;
    }

    #fullpage .container {
        margin-top: 0 !important;
    }

    #fila-2 {
        background-color: #dadada !important;
    }

    #fila-2 .cont-ilustracion {
        width: 90%;
        margin: 0 auto;
    }

    #fila-2 .txt-puntos {
        top: initial;
        left: 65%;
        bottom: 3%;
    }

    #fila-2 .conector {
        width: 1px;
        top: 90%;
        left: 50%;
        height: 18vh;
    }

    #fila-2 .tc-3 {
        bottom: 10%;
        right: initial;
        left: 10%
    }

    .conector .fin {
        width: 10px;
        height: 10px;
        bottom: -5px;
    }

    #fila-2 .conector .fin, #fila-3 .conector-2 .fin, #fila-4 .conector .fin, #fila-5 .conector .fin, #fila-6 .conector .fin, #fila-8 .conector .fin {
        right: -5px;
    }

    #fila-3 .conector-1 {
        display: none
    }

    #fila-3 .cont-ilustraciones {
        margin-top: 5vh;
    }

    #fila-3 .conector-2 {
        width: 1px;
        top: 80vh;
        left: 50%;
        height: 28vh;
    }

    #fila-3 .tc-3 {
        bottom: 5%;
        left: 5%;
    }

    #fila-4 {
        background-color: #dadada !important;
    }

    #fila-4 .cont-ilustracion {
        max-width: 40ppx;
        margin: 0 auto;
        position: relative;
        right: initial;
    }

    #fila-4 .conector {
        top: 90vh;
        height: 15vh;
    }

    #fullpage .graf img {
        max-width: 200px;
    }

    #fila-5 h2 {
        padding: 2rem 0;
    }

    #fila-5 .graf {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    #fila-5 .col-md-3 .large {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        width: initial;
        align-self: center;
    }

    #fila-5 .graf {
        margin-top: 0;
    }

    #fila-5 .col-md-3 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #fila-5 .ci-4-5-6 {
        margin: 0;
        position: relative;
        width: 100%;
    }

    #fila-5 .diagonal::before {
        content: '';
        width: 400%;
        position: absolute;
        background: #ededed;
        left: -50%;
        top: -10%;
        bottom: 2%;
        transform: rotate(-10deg);
        transform-origin: 10% 50%;
        display: none;
    }

    #fila-5 .conector {
        width: 1px;
        top: 90vh;
        left: 25%;
        height: 20vh;
    }

    #fila-6 {
        background-color: rgb(188, 196, 199) !important;
    }

    #fila-6 .ci-7-8-9 {
        width: 100%;
        position: relative;
    }

    #fila-6 .col-md-3 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #fila-6 .graf {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    #fila-6 .col-md-3 > .large {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        width: initial;
        align-self: center;
    }

    #fila-6 .col-md-3 > .left-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: initial;
        align-self: center;
        text-align: center;
        margin-top: 0
    }

    #fila-6 .txt-puntos.tx-1 {
        bottom: initial;
        top: 10%;
        display: initial;
    }

    #fila-6 .txt-puntos.tx-2 {
        bottom: 10%;
        left: 1.2rem;
    }

    #fila-6 .tc-2 {
        bottom: 10%;
        left: 90%;
    }

    #fila-6 .conector {
        width: 1px;
        top: 80vh;
        left: 85vw;
        height: 30vh;
    }

    #fila-7 .col-md-3 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #fila-7 .graf {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    #fila-7 .col-md-3 > .large {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        width: initial;
        align-self: center;
    }

    #fila-7 .col-md-3 > .small {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: initial;
        align-self: center;
        text-align: center;
        margin-top: 0
    }

    #fila-7 .ci-11-12-13-14 {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
        margin-bottom: 30%
    }

    #fila-7 .conector {
        width: 1px;
        right: 50vw;
        top: 90vh;
        height: 20vh;
    }

    #fila-3 .conector-1 .fin, #fila-7 .conector .fin {
        left: -5px;
    }

    #fila-7 .tc-3 {
        bottom: 5%;
        right: 10%;
    }

    #fila-7 .txt-puntos.tx-1 {
        top: 90%;
        left: 2.2rem;
    }

    #fila-8 {
        background-color: rgb(188, 196, 199) !important;
        border-bottom: 1px solid white;
    }

    #fila-8 .col-md-6 {
        padding: 12%;
    }

    #fila-8 .col-blanca {
        border: none;
        text-align: center;
    }

    #fila-8 .tc-1 {
        display: none
    }

    #fila-9 .tc-3 {
        display: none
    }
}

@media screen and (max-width: 576px) {
    #fullpage .container {
        padding-right: 30px;
        padding-left: 30px;
    }

    #fullpage #fila-1 h1 {
        margin-top: 5rem;
    }

    #fullpage #fila-1 .carrusel {
        margin-bottom: 5rem;
    }

    #fullpage #fila-1 .txt-puntos, #fullpage #fila-1 .txt-cuadros {
        display: none;
    }

    #fullpage .graf img {
        max-width: 100%;
    }

    #fila-5 .ci-4-5-6 {
        margin-bottom: 10%;
    }

    #fila-5 .right-5 {
        margin-bottom: 3rem;
    }

    #fila-5 .conector {
        width: 1px;
        top: 90%;
    }

    #fullpage #fila-6 .graf .num {
        font-size: 2rem;
    }

    #fullpage #fila-6 .col-md-3 .large {
        font-size: 1rem;
    }

    #fullpage #fila-6 .col-md-3 .small {
        font-size: .8rem;
    }

    #fullpage #fila-6 .txt-cuadros, #fullpage #fila-7 .txt-cuadros {
        display: none;
    }

    #fullpage #fila-7 .graf .num {
        font-size: 2rem;
    }

    #fullpage #fila-7 .col-md-3 .large {
        font-size: 1rem;
    }

    #fullpage #fila-7 .col-md-3 .small {
        font-size: .8rem;
    }

    #fila-7 .txt-puntos.tx-2 {
        top: 5%;
        left: 2.2rem;
        right: initial
    }

    #fila-8 .col-blanca {
        margin-top: 10vh;
    }

    #fila-8 .col-cyan {
        margin-bottom: 10vh;
    }

    #fila-8 .conector {
        top: 95%;
    }

    #fila-8 .txt-puntos.tx-1 {
        top: 5%;
    }

    #fila-8 .txt-puntos.tx-2 {
        bottom: 5%;
    }

    #fila-8 .txt-cuadros, #fila-9 .txt-cuadros {
        display: none;
    }

    .indicacion {
        font-size: .8rem;
    }

    #mapa .hotspot {
        width: 18px;
        height: 18px;
    }

    #fullpage #fila-9 h2 {
        font-size: 1.6rem;
    }

    .popover-body {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        min-width: 190px;
    }

    .popover-body h4 {
        font-weight: 900;
        font-size: 1.2rem;
        margin: 0.75rem 0;
    }

    .popover-body .hnum {
        display: inline-block;
        width: 48%;
        font-weight: 900;
        float: left;
        font-size: 1rem;
        border-right: 1px solid black;
        margin-right: 4%;
    }

    .popover-body .hinfo {
        font-weight: 300;
        font-size: .6rem;
        width: 48%;
        float: left;
        line-height: 1.1;
        padding-top: .2em;
    }

    .popover-body .hnum {
        margin-bottom: 0.6rem;
    }
}

/*Controlar salto de animacion*/
/*.section h2, .section .txt-puntos, .section .txt-cuadros, .section h1, .section p, .section .pared, .section .pared, .section .elem, .section .animacion, .section .lugar {
    opacity: 0 !important;
    transition: opacity 500ms linear;
}
*/
.section .container,
.section .conector {
   opacity: 0 ;
   transition: opacity 300ms linear; 
}
.section.animate .container,
.section.animate .conector {
   opacity: 1;
}
.section .txt-cuadros {
    background: transparent;
    transition: opacity 500ms 1000ms;
}

.section.animate .txt-cuadros {
    background: #ffffff;
}
#fila-1 .container {
    opacity: 1;
}
/*
.section.active h2, 
.section.active .txt-puntos, 
.section.active .txt-cuadros, 
.section.active h1, 
.section.active p, 
.section.active .pared, 
.section.active .pared, 
.section.active .elem, 
.section.active .animacion, 
.section.active .lugar {
    opacity: 1 !important;
}*/
